:root {
  --cor1: #5cb8ff;
  --cor2: #1b69a6;
  --cor3: #a6680a;
  --cor4: #f2ab3f;
}
html{
  scroll-behavior: smooth;
}
body{
  background: url('img/fundo2.png');
}
#top {
  background: url(img/estante.jpg) fixed;
  padding: 77px 0;
  /*estante2 é tema escuro*/
}
.azul {
  background-color: #3fa3f2;
}
.top {
  margin-top: 5%;
}
.linha-direita {
  border-style: solid;
  border-width: 1px;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
}
.linha-baixo {
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
  border-right: 1px;
  border-left: 1px;
}
.col-main {
  padding: 5%;
}
#abajur {
  width: 40%;
}
#botao {
  cursor: pointer;
  width: 2.5%;
  margin-left: -10%;
  margin-top: 11%;
  position: absolute;
  /*Para telas até 573 por 1244
   margin-left: -21%;
    margin-top: 24%;    
    */
}
.revelado {
  display: none;
}
.escolhido:hover {
  cursor: pointer;
}

.botao {
  background-color: var(--cor1);
  border-radius: 20px;
  border-style: none;
  padding: 10px;
}
.banner {
  position: fixed;
  top: 0;
  height: 100%;
  width: 10px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.esquerda {
  transform: translateX(-50%);
  left: 0;
  /*Talvez uma opção, mas parece que o site tá suspenso sobre o nada
        background: url(img/estante.jpg) fixed;
    */
  background-color: var(--cor2);
}

.direita {
  transform: translateX(50%);
  right: 0;
  background-color: var(--cor2);
}

/*IDEIA:
No scroll dos livros, poderia ter um homenzinho que fica procurando um livro nas prateleiras
aí o abckground do scroll seriam os livros e ele em cima procurando*/
.livros {
  gap: 3px;
  transition: all 0.5s;
}
.estilo:hover :not(:hover) {
  transition: all 0.5s;
  opacity: 0.3;
}
.livros:hover {
  transition: all 0.5s;
  scale: 1.1;
}
.btn.editado{
  background-color: var(--cor2);
  transition: 0.5s all;
  color:#fff;
}
.btn.editado:hover{
  background-color: var(--cor2);
  color:#fff;
  filter: saturate(50%);
}
.card{
  width: 15rem;
}
.autores img{
  width: 14.9rem;
  height: 11rem;
  object-fit: cover;
}