  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
  font-family: 'Roboto Slab', serif;
}
:root {
  --cor1: #5cb8ff;
  --cor2: #1b69a6;
  --cor3: #a6680a;
  --cor4: #f2ab3f;
}
html{
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
}
/*
body{
    background-size: cover;
    background-position: center;
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('../fundo_teste.png');  
}
*/
#top {
  background: url(../img/estante.jpg) fixed;
  padding: 3% 0;
  /*estante2 é tema escuro*/
}
/*NAVBAR
.navbar a{
  color: white;
}

.azul {
  background-color: #3fa3f2;
}
.nav-item{
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  transition: all 0.5s ease-in;
}
.nav-item:hover{
  background-color: #000040;
  color: white;
  transition: all 0.5s ease-in;
}

.dropdown-menu .dropdown-item{
  color: #000;
}
.editado{
  background-color: var(--cor2);
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  transition: 0.5s all;
  color:#fff;
}
.editado:hover{
  background-color:var(--cor1);
  color:#fff;
  filter: saturate(50%);
}
*/
/* Estilos para a Navbar */
/* Estilos para a Navbar */
.navbar {
    background-color: #3fa3f2; 
    padding: 15px 0; 
}

.navbar-brand img {
    max-height: 60px;
}

.navbar-toggler-icon {
    background-color: #fff; 
}

.navbar-nav .nav-link {
    color: #fff; 
    transition: color 0.3s; 
}

.navbar-nav .nav-link:hover {
    color: #f39c12; 
}

.navbar-collapse {
    justify-content: flex-end;
}

.form-control {
    background-color: #ecf0f1;
    border: none; 
    border-radius: 20px; 
}
.btn.btn-primary{
  background-color: var(--cor2);
  transition: all 0.5s ease;
}
.btn.btn-primary:hover{
  filter: brightness(90%);  
  background-color: var(--cor2);

}
.editado{
  background-color: var(--cor2);
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  transition: 0.5s all;
  color:#fff;
}
.editado:hover{
  background-color:var(--cor3);
  color:#fff;
  filter: saturate(50%);
}


.top {
  margin-top: 5%;
}
.linha-direita {
  border-style: solid;
  border-width: 1px;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
}
.linha-esquerda {
  border-style: solid;
  border-width: 1px;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 0px;
}
.linha-baixo {
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
  border-right: 1px;
  border-left: 1px;
}
.col-main {
  padding: 5%;
}
#abajur {
  width: 40%;
}
#botao {
  cursor: pointer;
  width: 2.5%;
  margin-left: -10%;
  margin-top: 11%;
  position: absolute;
  /*Para telas até 573 por 1244
   margin-left: -21%;
    margin-top: 24%;    
    */
}
.revelado {
  display: none;
}
.escolhido:hover {
  cursor: pointer;
}

.botao {
  background-color: var(--cor1);
  border-radius: 20px;
  border-style: none;
  padding: 10px;
}
.banner {
  position: fixed;
  top: 0;
  height: 100%;
  width: 10px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.esquerda {
  transform: translateX(-50%);
  left: 0;
  /*Talvez uma opção, mas parece que o site tá suspenso sobre o nada
        background: url(img/estante.jpg) fixed;
    */
  background-color: var(--cor2);
}

.direita {
  transform: translateX(50%);
  right: 0;
  background-color: var(--cor2);
}

/*Index Livros e afins*/
.card-group{
  width: 80%;
}
.livros {
  gap: 3px;
  transition: all 0.5s;
  width: 60%;
}

.estilo:hover :not(:hover) {
  transition: all 0.5s;
  opacity: 0.3;
}
.livros:hover {
  transition: all 0.5s;
  scale: 1.1;
}
/*IDEIA:
No scroll dos livros, poderia ter um homenzinho que fica procurando um livro nas prateleiras
aí o abckground do scroll seriam os livros e ele em cima procurando*/

/* LIVROS */

.caixa-livro{
  width: 60%;
  height: 88%;
  border: 3px dashed #000;
  border-radius: 15px;
  background: rgba( 0, 0, 0, 0.3 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 17px );
  cursor: pointer;
  transition: all 0.5s;
}
.fas.fa-plus.icone{
  margin-top: 75%;
  color: var(--cor2);
}
.fas.fa-plus.icone.seg{
  margin-top: 70%;
  color: var(--cor2);
  
}
.caixa-livro:hover{
  transition: all 0.5s;
  filter: brightness(75%);
}
.modal-body.cate{
  margin-bottom: 10%;
}

/* Estilo para ícones */
.icone {
  color: black; 
  text-decoration: none;
}
.icone:hover {
  color: black; 
  filter: brightness(10%);
}

/* */

/*AUTORES */



.autores {

  border-radius: 50%; 
  width: 150px; 
  height: 150px;
  object-fit: cover;

}

.card a:hover{
  color: beige;
  filter: brightness(100%);
}
.card-group{
  object-fit: contain;
}

.cartao{
  text-decoration: none;
  color: beige;
}

/* */

#categorias{
  background-color: var(--cor2);
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 20px;
  color: white;
}

/*MODAL CADASTROS */
.card-modal {
  min-height: 350px;
  width: 400px;
  gap: 35px;
  border-radius: 8px;
}
.card-modal.cad{
padding: 15%;
}
div.modal-dialog.cad > div.modal-footer{
  margin-top: -20%;
}

.inputBox {
  position: relative;
}

.inputBox input, .inputBox textarea{
  width: 100%;
  padding: 2%;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border: 2px solid #000;
  transition: 0.1s;
  border-radius: 8px;
  margin-top: 5%;
}

 .inputBox span {
  top: 0;
  left: 0;
  padding: 5% 3% 4% 4%;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}
textarea::placeholder{
  color: black;
}
.inputBox span + input:focus,
.inputBox span + input:valid,
.inputBox span + textarea:focus,
.inputBox span + textarea.has-text:valid
{
  font-size: 0.8em;
  background-color: var(--cor2);
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
  margin-top: 2%;
}

.inputBox input:valid,
.inputBox input:focus{
  margin-top: 2%;
}

.enter {
  height:50px;
  width: 30%;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

.enter:hover {
  background-color:#006100;
  color: white;
 
}
.exit {
  height: 45px;
  width: 30%;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

.exit:hover {
  background-color:red;
  color: white;
 
}
.custom-file-upload {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: var(--cor2);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #555;
}

.custom-file-upload input[type="file"] {
  display: none;
}
.file-message {
  margin-top: 10px;
  font-size: 14px;
  color: #4CAF50;
  display: none;
}
/* */
/*Tema escuro
.modal-body, .modal-header, .modal-footer{
  background-color: #000;
  color: white;
}
*/


.card-body{
  background-color: var(--cor2);
  color: beige;
}
.card-title{
  color: beige;
}


/* SALAS */
.card-header.fundamental{
  background-color: red;
  color: white;
}
.card-header.fundamental2{
  background-color: blue;
  color: white;
}
.card-header.medio{
  background-color: #d397d3 ;
  color: white;
}
.list-group  > a{
  text-decoration: none;
}

/*DOWNLOAD DE LIVROS */
.download{
  border-radius: 20px;
  margin-right: 200px;
  width: 180px;
}

#icon{
padding-left: 300px;
}
.btnicon{
  cursor: pointer;
  border: none;
  box-shadow: none;
  background-color: white;
  width: 50px;
}
.info{
font-size: 13px;
}
#colicon{
  padding: 7%;
  margin-right: 15%;
  text-align: center;
}
#subtitulo{
  font-size: 11px;
  color: #3FACF5;
}
.caixa-autores{ 
  
  padding-bottom: 100px;
    border-radius: 50%; 
    text-align: center;
    width: 150px; 
    height: 150px;
    object-fit: cover;
  background: rgba( 0, 0, 0, 0.5 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 17px );
  cursor: pointer;
  transition: all 0.5s;
  
}
.ano{
  color: #808080;
}
.card-tittle.tt{
  font-size: 13px;
  color: #3FACF5;
}
.card-subtittle{
  font-size: 13px;
  padding-top: 40px;
}

.card-fotos{

    border-radius: 10px;
    width: 210px;
    box-shadow: inset 0 0 4px 1px #808080;
   
}
.card-equal-height {
  height: 300px; 
}
.card{
  width: 210px;
  height: 200px; 
  padding-bottom: 66px;
  padding-top: 60px;
  border-radius: 10px;
    width: 210px;
    box-shadow: inset 0 0 4px 1px #808080;
}
